@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Yanone+Kaffeesatz:wght@200;300;400;500;600&display=swap');

:root {
  --nav-main-font: "Belanosima";
  --nav-secondary-font: "Kanit";
  --p-font-family: "Roboto Mono";
  --li--font-family: "Kosugi Maru";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

  /*--------------------------*/
 /*   PAGE  TRANSITION       */
/*--------------------------*/
body{
  color: #fff;
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  /*--------------------------*/
 /*   END   TRANSITION       */
/*--------------------------*/

footer {
  width: 100%;
  height: 30px;
  background: #57BB8A;
  position: absolute;
  justify-content: center;
  align-items: center;
}
footer p {
  margin-top: 5px;
  color: black;
  font-size: 15px;
  font-family: var(--nav-secondary-font);
  text-align: center;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url(./image/bg_color.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 35px;
  padding-left: 8%;
  padding-right: 8%;
}
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size: 20px;
  text-decoration: none;
  font-family: var(--nav-main-font);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
span{
  color: #57BB8A;
  font-family: var(--nav-main-font);
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  font-family: var(--nav-main-font);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
}
nav ul li a:hover{
  background: #57BB8A;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.btn{
  background: #000;
  border-radius: 6px;
  padding: 9px 25px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}

.content{
  margin-top: 5%;
  max-width: 500px;
  float: right;
  text-align: center;
  line-height: 45px;
  justify-content: center;
  margin-right: 50px;
}
.content h1{
  font-size: 60px;
  color: #57BB8A;
  font-family: var(--nav-secondary-font);
}
.content h3{
  font-size: 30px;
  color: #57BB8A;
  font-family: var(--nav-secondary-font);
}
.content p{
  font-size: 20px;
  font-family: var(--nav-secondary-font);
  margin-top: 10px;
  line-height: 30px;
  text-align: justify;
  color: #57BB8A;
}
.content img {
  width: 300px;
  height: auto;
}
a{
  color: #ffffff;
}
.link {
  margin-top: 30px;
  
}
.btns {
  margin-top: 0;
  margin-bottom: 5px;
}
.btns button {
  height: 45px;
  width: 140px;
  border-radius: 30px;
  border: none;
  margin: 0 10px;
  border: 2px solid #57BB8A;
  font-size: 22px;
  font-weight: 500;
  font-family: var(--nav-main);
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.btns button:first-child {
  color: #57BB8A;
  background: none;
  font-family: var(--nav-main-font);
}
.btns button:first-child:hover {
  background: #57BB8A;
  color: black;
}


  /*----------------------------------*/
 /*-----------MEDIA QUERIES----------*/
/*----------------------------------*/

@media only screen and (max-width: 414px) {
  .container{
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    padding-left: 6%;
    padding-right: 4%;
  }
  footer p {
    font-size: 11px;
  }

  /* -- NAV -- */
  nav ul li a{
    font-size: 12px;
    padding: 0 2px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
  }
  .logo a{
    font-size: 15px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 2px 2px;
  }
   /* -- End of NAV -- */

  /* -- Content -- */
  .content{
    margin-top: 6%;
    margin-left: 5%;
    max-width: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .content img {
    margin-top: 20px;
    width: 150px;
    height: auto;
  }
  .content h1{
    font-size: 40px;
    color: #57BB8A;
    font-family: var(--nav-secondary-font);
  }
  .content h3{
    font-size: 20px;
    color: #57BB8A;
    font-family: var(--nav-secondary-font);
  }
  .content p{
    font-size: 15px;
    width: 300px;
    font-family: var(--nav-secondary-font);
    margin-top: 10px;
    line-height: 20px;
    text-align: justify;
    color: #57BB8A;
  }
/* -- End of Content -- */

/* -- Buttons -- */
.btns button {
  height: 35px;
  width: 100px;
}
.btns button:first-child {
  margin-top: 10px;
  font-size: 14px;
}

}

